#divContainer {
  margin: 1.5%;
}

.el-select {
  width: 260px;
  padding-top: 3px;
}

.el-input {
  width: 260px;
}

.el-table {
  .el-input {
    width: 175px;
  }

  .el-select {
    width: 130px;
    margin: 2px;
  }

  .urlInput {
    width: 360px;
    margin: 2px;
    border:2px lightskyblue solid;
  }

  .enumInput {
    width: 92px;
    display: inline-flex;
    margin: 1px;
    border: 2px burlywood solid;
    border-radius: 5px;
  }
}