#divContainer {
  margin: 1.5%;
}

h3 {
  color: red;
}

a {
  font-size: 16px;
  color: #488AC7;
}

.el-col {
  float: left;
}

.elTable {
  width: 65%;
  border: 1px solid grey;
  text-align: center;
  border-collapse: collapse;
}

.el-slider {
  width: 50%;
}